#hobbies_section{
    padding: 70px 0;
    background-color: var(--primary-color);
}

#hobbies_section h2 {
    font-size: 50px;
    text-align: center;
}

.hobbies_container {
    margin: 60px auto;
    width: 1500px;
    background: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    grid-template-areas:

    "item1 item1 item2"
    "item1 item1 item4"
    
    ;
}

.grid_item{
    background-color: var(--light-secondary-color);
}

#item1{
    grid-area: item1;
}

#item2{
    grid-area: item2;
}

#item3{
    grid-area: item3;
}

#item4{
    grid-area: item4;
}