#lebenslauf_section {
    padding: 50px 20px;
    background-color: var(--primary-color); /* Hintergrund der gesamten Sektion auf secondary-color geändert */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 50px;
}

.lebenslauf_container {
    max-width: 750px;
    width: 100%;
    background-color: var(--primary-color); /* Hintergrund der Boxen auf primary-color geändert */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#lebenslauf_section img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: 15px solid var(--primary-color); /* Rand der Bilder bleibt primary-color */
    object-fit: cover;
}

.lebenslauf_container h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--main-brand-color);
}

.education_block {
    margin-bottom: 30px;
}

.education_block h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.language_item,
.education_item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: var(--secondary-color); /* Hintergrund der inneren Boxen auf secondary-color geändert */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.language_item p,
.education_item p {
    margin: 0;
    color: var(--primary-text-color); /* Textfarbe auf primary-text-color gesetzt */
}

.language_item p strong,
.education_item p strong {
    color: var(--text-color);
}

.period {
    font-weight: bold;
    color: var(--main-brand-color);
}

.details {
    margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 900px) {
    .lebenslauf_container {
        padding: 20px;
    }

    .lebenslauf_container h2 {
        font-size: 28px;
    }

    .education_block h3 {
        font-size: 20px;
    }

    .education_item p,
    .language_item p {
        font-size: 16px;
    }
}